.about-us-section {
  background-image: url(../images/AUbg.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  width: 104%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.about-us-content {
  margin: 0 auto;
  padding: 82px;
  border-radius: 10px;
  width: 90%;
}

.about-us-content p {
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 1.6rem;
}

.tagline {
  color: #ffd700;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 30px;
}